
/*.multisearch-input{
    font: normal 24px/30px helvetica, arial, verdana, sans-serif
}*/

.grouped-list .x-boundlist-item {
    height: 32px;
    padding: 1px 3px 0 10px
}

.grouped-list .x-boundlist-icons {
    font-family: FontAwesome;
    padding: 1px 3px 0 10px;
    float: right;
    color: $base-color;
}

.grouped-list .x-boundlist-button-add{
    padding-right: 3px;
}

.grouped-list .x-boundlist-button-add,
.grouped-list .x-boundlist-button-info {
    font-family: FontAwesome !important;
    font-size: 20px;
    border: none;
    border-radius: 2px;
}

.grouped-list .group-header {
    padding: 4px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}