[submodule "src/lib/BasiGX"]
	path = src/lib/BasiGX
	url = https://github.com/terrestris/BasiGX.git
[submodule "src/lib/GeoExt"]
	path = src/lib/GeoExt
	url = https://github.com/geoext/geoext3.git
[submodule "src/lib/d3-util"]
	path = src/lib/d3-util
	url = https://github.com/terrestris/d3-util.git
