syntax: glob

src/apidoc
src/bootstrap.css
src/bootstrap.js
src/build/**
src/ext/**
src/classic.json
src/modern.json
src/modern.jsonp
src/coverage
src/coverage-combined
src/packages/**
src/sass/example/bootstrap.js
src/sass/example/bootstrap.json
src/classic.jsonp
src/sass/example/bootstrap.jsonp

**/.~lock*
**/npm-debug.log

docs/apidoc
docs/jsdoc
docs/jsduck

node_modules
.project
.idea
