version: '3'
services:
  bfs-nginx:
    image: library/nginx:1.15
    ports:
      - 80:80
    depends_on:
      - bfs-app
    volumes:
      - ./docker/default.conf:/etc/nginx/conf.d/default.conf
      - ./docker/localhost.crt:/etc/ssl/certs/localhost.crt
      - ./docker/localhost.key:/etc/ssl/private/localhost.key
  bfs-app:
    image: terrestris/sencha-cmd:version-7.2.0.56-3
    ports:
      - 1841:1841
    volumes:
      - ./src:/src
