.geostyler-root {
    padding: 8px;
}

.gs-icon-selector-window,
.symbolizer-editor-window,
.filter-editor-window,
.gs-modal-color,
.gs-modal-size,
.rule-generator-window,
.gs-modal-opacity {
    z-index: 24998;
}

.ant-dropdown-menu,
.ant-select-dropdown,
.ant-mentions-dropdown,
.ant-dropdown {
    z-index: 24999;
}

.ant-menu-submenu.ant-menu-submenu-popup,
.ant-popover {
    z-index: 25000;
}

.rule-generator-window {
    background: white;
}

.gs-rule-table .ant-table-body .gs-rule-table-numeric-cell {
    width: 60px;
}

.codeeditor-root {
    height: 100%;
}
