.geostyler-root {
    padding: 8px;
}

.symbolizer-editor-window,
.filter-editor-window,
.gs-modal-color,
.gs-modal-size,
.rule-generator-window,
.gs-modal-opacity {
    z-index: 24998;
}

.ant-select-dropdown,
.ant-mention-dropdown,
.ant-dropdown {
    z-index: 24999;
}

.ant-menu-submenu.ant-menu-submenu-popup {
    z-index: 25000;
}

.rule-generator-window {
    background: white;
}
