.geostyler-root {
    padding: 8px;
}

.symbolizer-editor-window,
.filter-editor-window,
.gs-modal-color,
.gs-modal-size,
.gs-modal-opacity {
    z-index: 19010;
}

.ant-select-dropdown {
    z-index: 19015;
}

.ant-menu-submenu.ant-menu-submenu-popup {
    z-index: 19020;
}