/*
 * This file also lives in the modern namespace. I wasn't able to figure out
 * how and where to add the rules below so they can be shared for builds.
 */
svg .k-d3-shape-group-legend g {
    cursor: pointer;
}
svg .k-d3-shape-group .timeseries-chart .timeseries-data rect,
svg .k-d3-shape-group .timeseries-chart .timeseries-data circle,
svg .k-d3-shape-group .timeseries-chart .timeseries-data polygon {
    cursor: help;
}

@keyframes blinkoutline {
    0% {
        stroke: #0B77FF;
    }
    25% {
        stroke: #0AE83E;
    }
    50% {
        stroke: #FFE517;
    }
    75% {
        stroke: #E8520A;
    }
    100% {
        stroke: #D917FF;
    }
}

svg .k-d3-shape-group circle:hover,
svg .k-d3-shape-group rect:hover {
    animation: blinkoutline 10s infinite;
}

svg .k-d3-shape-group,
svg .k-d3-shape-group-legend circle,
svg .k-d3-shape-group-legend path,
svg .k-d3-shape-group-legend text {
    /**
     * The transitions below need some explanation, I guess:
     *
     * We transition two properties: visibility and opacity.
     *   * opacity for a nice fade-out / fade-in effect
     *   * visibility so that no mouseover / mouseout events are being fired
     *
     * We generally use the shorthand notation 'transition' for the basic setup,
     * but as visibility is a value that can only be tarnsitioned between
     * 'hidden' and 'visible' (no values inbetween), we have to use the
     * 'transition-delay' to mangle with the delay of the visibility.
     *
     * The setting here are for showing, where we immidiately want the
     * 'visibility: visible' but want to have some time (0.3s) for the opacity
     * animation.
     *
     * In the case where we want to hide, svg .k-d3-shape-group-hidden below,
     * the delay is set to something else.
     *
     * Inspiration: http://www.greywyvern.com/?post=337
     */
    transition: visibility 0s linear 0s, opacity 0.3s linear 0s;
    opacity: 1;
    visibility: visible;
}

svg .k-d3-hidden {
    opacity: 0;
    visibility: hidden;
    transition-delay: 0.4s, 0s;
}

svg .k-d3-disabled {
    opacity: 0.3;
}

svg .k-d3-shape-group-legend .k-d3-delete-icon,
svg .k-d3-shape-group-legend .k-d3-color-icon,
svg .k-d3-shape-group-legend .k-d3-download-icon, {
    fill: $button-default-background-color;
    font-size: 17px;
    font-family: FontAwesome;
}

svg text {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

svg .k-d3-grid {
    pointer-events: none;
}

svg .k-d3-grid line {
  shape-rendering: crispEdges;
}

svg .k-d3-grid path {
  stroke-width: 0;
}

.k-d3-scrollable-legend-container {
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
    /* other properties set dynamically */
}

.k-window-barchart .x-window-header-default-top {
    padding: 0px 0px 0px 0px;
}
