.mouse-position-control {
    position: absolute;
    bottom: 5px;
    left: 220px;
    background-color: $base-color ;
    border-radius: 4px;
    height: 22px;
    color: white;
    padding: 3px;
    font-size: 10px;
}

.mouse-position-control.adjusted {
    left: 575px;
}

.mouse-position-control:empty {
   display: none;
}
