.base-map-tools {
    right: 0 !important;
    left: auto !important;
    background-color: transparent;
}

.base-overview-map {
    top: auto !important;
    bottom: 0 !important;
    background-color: white;
}

.base-overview-map-button {
    top: auto !important;
    bottom: 5px !important;
    left: 5px !important;
}

.ol-scale-line {
    bottom: 5px;
    left: 50px;
}
.ol-scale-line.base-scaline-adjusted {
    left: 405px;
}