.fleet-routing-settings {

    .routing-brighter-panel {
        .x-panel-header {
            background-color: #496886;
            border-color: #496886;
        }
    }

    >.x-panel-header {
        background-color: white;
        padding-left: 12px;

        .x-title-text {
            color: #29333E;
            font-size: medium;
        }
    }
}
