.modernMenuIcon{
    width: 16px;
    vertical-align: middle;
}

#imprint {
    h1 {
        font-size: 16px;
        font-weight:bold;
        color: black;
        padding-top: 3px;
    }
    h2 {
        font-weight:bold;
        padding-top: 3px;
    }
    h3 {
        font-weight:bold;
        padding-top: 3px;
    }
    ul, li {
        padding: 3px 0px;
    }
    p {
        padding: 3px 0;
    }
}

#sitepolicy {
    h1 {
        font-size: 16px;
        font-weight:bold;
        color: black;
        line-height: 100% !important;
        padding-top: 3px;
    }
    h2 {
        font-weight:bold;
        padding-top: 3px;
    }
    ul, li {
        padding: 3px 0px;
    }
    p {
        padding: 3px 0;
    }
}
