.k-panel-mobilelegend .x-treelist-item-text {
    margin-left: 0 !important;
}

.k-active-charting-layer {
    color: $base-color;
}

.k-inactive-charting-layer {
    color: #808080;
}

.legend-filter-text {
    color:#666;
    margin-left:20px;
    white-space:pre-line;
    display: inline-block;
}

.tree-item-tools {
    font-size: 21px;
    display: flex;

    .left-items, .right-items, .centered-items {
        width: 33%;
        padding: 0 5px;
    }

    .left-items {
        .up-icon {
            padding-right: 12px;
        }
    }

    .right-items {
        i {
            float: right;
        }
        .fa-info-circle{
            padding-right: 12px;
        }
    }

    /* Special styling for slider */
    input[type=range] {
        -webkit-appearance: none;
        height: 20px;
        width: 100%;
        background: rgba(0,0,0,0);
    }
    input[type=range]:focus {
        outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
        height: 4px;
        background: $neutral-color;
        border-radius: 2px;
    }
    input[type=range]::-webkit-slider-thumb {
        height: 20px;
        width: 20px;
        border-radius: 10px;
        margin-top: -8px;
        background: $base-color;
        border: 2px solid darken($neutral-color, 60%);
        -webkit-appearance: none;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
        background: $neutral-color;
    }
    input[type=range]::-moz-range-track {
        height: 4px;
        background: $neutral-color;
        border-radius: 1.3px;
    }
    input[type=range]::-moz-range-thumb {
        height: 20px;
        width: 20px;
        border-radius: 10px;
        margin-top: -8px;
        background: $base-color;
        border: 2px solid $neutral-color;
    }
    input[type=range]::-ms-track {
        height: 4px;
        background: $neutral-color;
        border-radius: 1.3px;
    }
    input[type=range]::-ms-fill-lower {
        background: $neutral-color;
        border-radius: 2.6px;
    }
    input[type=range]::-ms-fill-upper {
        background: $neutral-color;
        border-radius: 2.6px;
    }
    input[type=range]::-ms-thumb {
        height: 20px;
        width: 20px;
        border-radius: 10px;
        margin-top: -8px;
        background: $base-color;
        border: 2px solid darken($neutral-color, 60%);
    }
    input[type=range]:focus::-ms-fill-lower {
        background: $neutral-color;
    }
    input[type=range]:focus::-ms-fill-upper {
        background: $neutral-color;
    }

}
