.modernMenuIcon{
    width: 16px;
    vertical-align: middle;
}

#sitepolicy {
    h1 {
        font-size: 16px;
        font-weight:bold;
        color: black;
    }
    h2 {
        font-weight:bold;
    }
}

#imprint {
    h1 {
        font-size: 16px;
        font-weight:bold;
        color: black;
    }
    h2 {
        font-weight:bold;
    }
    h3 {
        font-weight:bold;
    }
}
