.k-chart-timeseries .x-legend .x-legend-item,
.k-chart-timeseries .x-legend .x-legend-item.x-view-item-focused  {
    /**
     * We need the important as Sencha has also an importasnt in their style :-(
     */
    outline: none !important;
}
.k-chart-timeseries .x-legend {
    cursor: pointer;
}
.k-chart-timeseries .k-selected-chart-legend {
    color: $panel-header-color;
    background-color: $panel-header-background-color;
    border-radius: 5px;
    border: 1px solid transparent;
}
