.k-grid-filter .x-column-header-trigger {
    display: block;
    width: 18px;
    cursor: pointer;
    background: transparent url(images/grid/hd-pop.png) no-repeat center center;
}

.k-grid-filter {
    .x-grid-filters-filtered-column {
        color: red;
    }
}