.button-alert{
        background-color: red !important;
        background-image: none;
        animation: blink-animation 2s steps(115, start) infinite;
        -webkit-animation: blink-animation 2s steps(115, start) infinite;
}

.button-alert .x-btn-glyph{
        color: yellow !important;
        cursor: pointer;
}

.button-routine .x-btn-glyph{
        color: #05db05 !important;
        cursor: pointer;
}

@keyframes blink-animation {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink-animation {
  50% {
    opacity: 0.0;
  }
}
