.k-panel-layersetchooser {

    .x-panel-header {
        color: white;
    }

    .x-panel-body {
        background-color: white;
    }

    .k-panel-layersetchooser {
        .img-chooser-view {
            height: auto;
            .x-item-focused,
            .x-view-item-focused,
            .x-item-selected {
                outline: none;
            }
        }
    }

}
