/** Hide the layername suffix spans everywhere… **/
.x-window-body .layer-name-suffix {
    display: none;
}
/** … except when they are shown inside of the RoutingLegendTree **/
.basigx-legend-panel .layer-name-suffix {
    color: #666;
    display: block;
    opacity: 0.8;
    padding-left: 21px;
    white-space: normal;
}
.basigx-legend-panel .k-loading-failed .x-tree-icon-leaf {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AkMDRozmnNkdQAAAHlJREFUOMvt0bEJgDAQQNEfh3AYdxCyw40gFqIgSAQRdINM4Q4ZxiViYWwkRdTWXx05eBxEee8B2MvyHOJVTmS9P2qtyUhrKaytY4tUYADmwtr2FeBEemAEzB1JvQAn0gFTQMxjICBNQNoLUYm/EC3fNpXxsR/4AYADV1okmSnzQGUAAAAASUVORK5CYII=');
    // alternatively
    // background-image: url('../resources/img/leaf-errored.png');
}

.basigx-legend-panel .x-tree-elbow-img {
    width: 0;
}

.basigx-legend-panel .x-tree-node-text {
    white-space: normal;
    word-break: break-all;
    display: inline-block;
}

.basigx-legend-panel .x-grid-cell-inner {
    text-overflow: inherit;
}

.basigx-legend-panel .x-grid-item-container {
    width: 95% !important;
}

.basigx-legend-panel .x-tree-node-text {
    width: 85%;
}
